.postsList {
    display: flex;
    flex-direction: column;
    margin: var(--container-md);
}

.postsList__title {
    margin-bottom: 60px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: var(--color-primary);
}
