.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__brand {
    font-family: var(--font-family);
    margin: auto 0 auto 0;
    color: #fff;
}

.navbar__navLinks {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar__navLinks li a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-decoration: none;
    color: #FFFFFF;
}

.navbar__button {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.navbar__button a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
