.footer {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 58px;
    margin: var(--container-md);
    margin-top: 100px;
    margin-bottom: 40px;
}

.footer p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: var(--color-primary);
}